.contact_head_img{
    background-image: url('../../../assets/images/contact2bg.jpg');
    width: 100%;
    height: 100%;
    background-position: fixed;
    background-size: cover;
}
.contact_us_text {
    /* margin-top: 200px ; */
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    color: white;
}
.pricing-bg img {
    width: 100%;
}
.map_img{
    background-image: url('../../../assets/images/pngtree-world-map-png-image_7465221.png');
    width: 100%;
    height: 100%;
    background-position: fixed;
    background-size: cover;
}